:root {
    --main-color: #35323D;
    --brand-color: #EAAB37;
    --text-color: #F5F5F7; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tone-box {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tone-player {
    width: min(80%, 500px);
    height: 200px;
    background-color: var(--main-color);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.tone-player .music-title-section {
    background-color: seagreen;
    flex: 1;
}

.tone-player .progress-bar-section {
    background-color: sienna;
    flex: 1;
}

.tone-player .btn-section {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}