:root {
    --main-color: #35323D;
    --brand-color: #EAAB37;
    --text-color: #F5F5F7; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tone-box {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.tone-player {
    width: min(100%, 500px);
    height: 200px;
    background-color: var(--main-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    /* the styling is perfect for desktop */

}

.tone-player .music-title-section {
    background-color: seagreen;
    flex: 1;
}

.tone-player .progress-bar-section {
    background-color: sienna;
    flex: 1;
}

.tone-player .btn-section {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    gap: clamp(1.2rem, 2vw, 2rem);
}

.tone-player .btn-section button {
    cursor: pointer;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: clamp(1.1rem, 3vw, 1.5rem);
}

.tone-player .btn-section .play-btn {
    border-radius: 50%;
    background-color: var(--brand-color);
    padding: 2rem;
}

/* !  the images */
.disc-container {
    background-color: red;
    position: absolute;
    top: 0;
    right: 35%;
    width: min(80%, 400px);
}

.disc-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* makes it look like a disc */
    object-fit: cover;
}


@media (max-width: 575px) {
    .tone-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }
}